@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&family=Lilita+One&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&family=Lilita+One&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&family=Roboto+Slab:wght@100&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html
{
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.back
{
    padding: 10px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: orange;
    text-decoration: none;
    border-radius: 5px 10px;
    border-color: transparent;
    
}

.back a
{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Poppins",sans-serif;
    
}

.contact h1
{
    font-size: 70px;
    font-family: "Poppins",sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.contact h1 span
{
    color: orange;
}

.image img
{
    float: left;
   
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 7px;
    border: 2px solid rgb(7, 54, 83); 
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: transparent;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
  }

  .social h1
{
    font-size: 50px;
    font-family: "Poppins",sans-serif;
    margin-left: 35%;
    padding-top: 40px;
   

}
.buttons
{
    padding: 40px 40px;
    margin-left: 50px;
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 250px;
    margin-bottom: 10px;
    background-color: rgba(254, 254, 254, 0.801);
}

.buttons:hover
{
    box-shadow: 10px 20px 3px rgba(175, 167, 167, 0.618);
    background-color: rgba(255, 195, 205, 0.823);
}

.buttons span
{
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 15px;
    color: black;
    text-decoration:none;
    
}

.buttons1
{
    padding: 40px 40px;
    margin-left: 50px;
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 100px;
    margin-bottom: 10px;
    background-color: rgba(254, 254, 254, 0.801);
}
.buttons1 span
{
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 15px;
    color: black;
    text-decoration:none;
    
}

.buttons1:hover
{
    box-shadow: 10px 20px 3px rgba(175, 167, 167, 0.618);
    background-color: rgba(190, 223, 243, 0.84);
}

.buttons2
{
    padding: 40px 40px;
    margin-left: 50px;
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 100px;
    margin-bottom: 10px;
    background-color: rgba(254, 254, 254, 0.801);
}
.buttons2 span
{
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 15px;
    color: black;
    text-decoration:none;
    
}

.buttons2:hover
{
    box-shadow: 10px 20px 3px rgba(175, 167, 167, 0.618);
    background-color: rgb(167, 241, 167);
}

.buttons3
{
    padding: 40px 40px;
    margin-left: 50px;
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 100px;
    margin-bottom: 10px;
    background-color: rgba(254, 254, 254, 0.801);
}
.buttons3 span
{
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 15px;
    color: black;
    text-decoration:none;
    
}

.buttons3:hover
{
    box-shadow: 10px 20px 3px rgba(175, 167, 167, 0.618);
    background-color: rgba(237, 160, 160, 0.845);
}

