@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');
*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html
{
    font-family: "Poppins", sans-serif;
    background-image: url(/Tiny_paws/images/b1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}


section
{
    padding-top: 25%;
    padding-left: 50px;
  

}

section h1
{
    font-size: 50px;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
}

section h3
{
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(8, 8, 8);
}

section .b1
{
    background-color: orange;
    padding: 20px 30px;
    border-radius:25px;
    font-weight: 600;
    color: white;
    border-style: none;
}

.b1:hover
{
    text-decoration: none;
    cursor: pointer;
}

section .image1
{
    display: flex;
    position: relative;
}