<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Tiny_paws/Static/style.css">
    <link rel="icon" type="x-icon" href="/Tiny_paws/images/dog-paw.png">
    <title>Tiny Paws</title>
</head>
<body>
    
    <section>
        <h1>TINY PAWS <img src="/Tiny_paws/images/dog-paw.png" height="50px"></h1>
        <H3>Welcome to Tiny Paws, where you can find everything<br>you need for your furry friend in one place. We understand that pets are an<br> integral part of your family, and we are dedicated to providing a wide range<br> of products and services to cater to their needs. </H3>
        <br>
        <a href="/Tiny_paws/Templates/signin.html"><button class="b1">Get started</button></a>
        
    </section>

</body>
</html>